{% extends 'base.html' %}
{% block title %}Templates de Tabloide - TabloideMP{% endblock %}
{% block content %}
<section>
  <div style="display:flex;justify-content:space-between;align-items:center;">
    <h2>Templates de Tabloide</h2>
    <a href="{% url 'relatorios:template_create' %}">Novo Template</a>
  </div>
  <ul>
    {% for t in object_list %}
      <li>
        {{ t.nome }} ({{ t.colunas }}x{{ t.linhas }})
        <a href="{% url 'relatorios:template_update' t.pk %}">Editar</a>
        <a href="{% url 'relatorios:template_items' t.pk %}">Itens</a>
      </li>
    {% empty %}
      <li>Nenhum template ainda.</li>
    {% endfor %}
  </ul>
</section>
{% endblock %}


